@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    min-height: 50px;
    background: #212121;
}

.menu{
    margin-bottom: 0;
    padding: 13px 70px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}

.menu .menu_item .menu_link{
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.subheader{
    position: absolute;
    width: 100%;
    min-height: 87px;
    padding: 21px 0 19px 0;
    background: rgba(0, 0, 0, 0.6);
}

.subheader .logo_text{
    margin-top: 5px;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .phone_text{
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .phone{
    display: block;
    margin-left: 8px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 39px;
    color: #FFFFFF;
}

.subheader .subheader_btn{
    width: 162px;
    min-height: 57px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo{
    padding: 150px 0 185px 0;
    min-height: 799px;
    background: url(/Projects/Uber_taxi/img/uber_bg.png) center center/cover no-repeat;
}

.promo h1{
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo h2{
    margin-top: 22px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_description{
    margin-top: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn{
    display: block;
    margin: 116px auto 0 auto;
    width: 259px;
    min-height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.work{
    padding: 77px 0 64px 0;
}

.work .label{
    margin: 0 auto;
    padding: 5px 12px;
    width: 115px;
    min-height: 27px;
    background: #000000;

    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.work h2{
    margin-bottom: 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.work_item{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .work_ellips{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
}

.work_descr{
    min-height: 200px;
    width: 372px;
}

.work .work_title{
    min-height: 42px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    color: #1EACC7;
}

.work .work_text{
    min-height: 150px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    color: #202020;
}